<div class="nb-page">
  <header class="nb-page-head">
    <h1 id="signin-heading">Sign in</h1>
    <p class="nb-lede">Use the user ID or email on your Internet Banking profile.</p>
  </header>
  <div class="nb-alert" role="alert" data-bind="visible: formError, text: formError"></div>
  <p class="nb-reference" data-bind="visible: reference, text: reference"></p>
  <form class="nb-form" data-bind="submit: signIn">
    <oj-form-layout label-edge="top" direction="column" user-assistance-density="reflow">
      <oj-input-text
        id="login-user"
        label-hint="User ID or email"
        autocomplete="username"
        value="{{username}}"
        messages-custom="[[usernameMessages]]"
        required="false"></oj-input-text>
      <oj-input-password
        id="login-password"
        label-hint="Password"
        autocomplete="current-password"
        value="{{password}}"
        messages-custom="[[passwordMessages]]"></oj-input-password>
    </oj-form-layout>
    <div class="nb-actions nb-actions-block">
      <oj-button id="sign-in" chroming="callToAction" on-oj-action="[[signIn]]" disabled="[[busy]]">Sign in</oj-button>
    </div>
  </form>
  <p class="nb-form-links">
    <a href="#" data-bind="click: openRecovery">Forgot password</a>
    <a href="#" data-bind="click: openRegister">Register</a>
  </p>
</div>
