<div class="nb-page nb-access">
  <span class="nb-done-mark is-clock" aria-hidden="true"></span>
  <header class="nb-page-head">
    <p class="nb-kicker">Session ended</p>
    <h1 id="expired-heading">You have been signed out</h1>
    <p class="nb-lede">Sessions last 15 minutes for your security. Sign in again with your password and Microsoft Authenticator code to continue.</p>
  </header>
  <div class="nb-actions">
    <oj-c-button chroming="callToAction" width="100%" label="Sign in again" on-oj-action="[[signIn]]"></oj-c-button>
  </div>
</div>
